@import "~bootstrap/scss/bootstrap";

.App {
  display: grid;
  text-align: center;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1em;
}
.component {
  font-family: "Comfortaa", cursive;
  background-color: antiquewhite;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 5px 5px gainsboro;
  font-size: 1em;
  table {
    width: 100%;
    white-space: nowrap;
    text-align: center;
  }
  img {
    width: 50%;
    box-shadow: 5px 5px gray;
  }
  p {
    width: 70%;
    text-align: center;
    margin: 10px auto;
  }
  a {
    width: 70%;
    text-align: center;
    margin: 10px auto;
  }
}

.navigation {
  font-family: "Comfortaa", cursive;
  // background-color: #e10600;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    color: white !important;
    text-decoration: none;
    padding: 0 20px;
    font-size: 2em;
    justify-content: space-evenly;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
  }
}

.main {
  margin-top: 80px;
}

.nav-item:hover {
  display: block;
}

.navbar {
  color: whitesmoke !important;
  background-color: #e10600 !important;

  .container {
    background-color: #e10600;
  }

  .dropdown-item {
    background-color: #e10600 !important;
  }
  .dropdown-menu {
    background-color: #e10600 !important;
  }
}
